@using ManagementSystem.Domain
@{
    ViewData["Title"] = "AssignRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Yeni Müşteri</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div id="customerList">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-auto">
                            <div>
                                <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> Ekle</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive table-card mt-3 mb-1">
                        <table class="table align-middle table-nowrap" id="userTable" border="1">
                            <thead class="table-light">
                                <tr>
                                    <th class="sort" data-sort="UserName">Müşteri</th>
                                    <th class="sort" data-sort="Email">Email</th>
                                    <th class="sort" data-sort="PhoneNumber">Telefon</th>
                                    <th class="sort" data-sort="action">Yetkilendir</th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all" id="userTableBody">
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

@* RoleTanımlama start*@
<script>

    var response = @Html.Raw(Json.Serialize(ViewData["Users"]));
     function loadUsers() {
         var users = response.data;
        var tableBody = $('#userTableBody');
        tableBody.empty();
        users.forEach(function(user) {
            var row = $('<tr>');
            row.append('<td>' + user.userName + '</td>');
            row.append('<td>' + user.email + '</td>');
            row.append('<td>' + user.phoneNumber + '</td>');
            row.append(`
                     <td>
                        <div class="d-flex gap-2">
                            <div class="edit">
                                <button class="btn btn-sm btn-success edit-item-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#AssignRoleModal"
                                    data-user-name="${user.userName}">
                                    Yetki Ver
                                </button>
                            </div>
                        </div>
                    </td>
            `);
            tableBody.append(row);
        });
    }
    $(document).ready(function () {
        loadUsers();
    });
</script>

<div class="modal fade zoomIn" id="AssignRoleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2 text-center">
                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                               colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                        <h4>Yetki ver?</h4>
                        <p class="text-muted mx-4 mb-0">Yetkinlendirme Adımındasınız ?</p>
                    </div>
                    <div class="input-group">
                        <label class="input-group-text" for="inputGroupSelect01">Role Seç</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                    <button type="button" class="btn w-sm btn-light" id="YetkiVer" data-bs-dismiss="modal">Onayla</button>
                    <button type="button" class="btn w-sm btn-danger " id="delete-record">Vazgeç</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
         $("#YetkiVer").click(function (event) {
            event.preventDefault();
            var userName = $("#AssignRoleModal").data('user-name');
            var selectedRole = $("#inputGroupSelect01").val();
            var formData = {
                UserName: userName,
                RoleName: selectedRole
            };
            $.ajax({
                url: '/Admin/AssignRole',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Başarıyla Yetki Verildi!',
                            text: response.message,
                            confirmButtonText: 'Tamam'
                        }).then(function() {
                            window.location.href = '/Admin/AssignRole';
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Yetki Verme Başarısız!',
                            text: response.message,
                            confirmButtonText: 'Tamam'
                        }).then(function() {
                            window.location.href = '/Admin/AssignRole';
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Bir Hata Oluştu',
                        text: 'Bir hata oluştu, lütfen tekrar deneyin.',
                        confirmButtonText: 'Tamam'
                    });
                }
            });
        });

        $('#AssignRoleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var userName = button.data('user-name');
            $(this).data('user-name', userName);
        });
    });
</script>

@* RoleTanımlama end*@


<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        id="close-modal"></button>
            </div>
            <form>
                <div class="modal-body">


                    <div class="mb-3">
                        <label for="useremail" class="form-label">Email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" id="UserEmail" placeholder="Mail adresi giriniz" required="">
                        <div class="invalid-feedback">
                            Lütfen Mail adresi giriniz
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Kullanıcı Adı <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="UserName" placeholder="Kullanıcı adınızı giriniz" required="">
                        <div class="invalid-feedback">
                            Lütfen kullanıcı adınızı giriniz
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Telefon Numarası <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="PhoneNumber" placeholder="Telefon Numaranızı giriniz" required="">
                        <div class="invalid-feedback">
                            Lütfen Telefon Numaranızı giriniz
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="userpassword" class="form-label">Şifre <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" id="UserPassword" placeholder="Şifre giriniz" required="">
                        <div class="invalid-feedback">
                            Lütfen şifrenizi giriniz
                        </div>
                    </div>
                     
                    <div id="responseMessage"></div>

                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" id="üye_ol">Ekle</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#üye_ol").click(function (event) {
            event.preventDefault();
            var formData = {
                UserName: $("#UserName").val(),
                UserEmail: $("#UserEmail").val(),
                UserPassword: $("#UserPassword").val(),
                PhoneNumber:$("#PhoneNumber").val()
            };

            $.ajax({
                url: '/Signup/üyeOl',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    if (response.success) { 
                        Swal.fire({
                            icon: 'success',
                            title: 'Başarıyla Kayıt Oldunuz!',
                            text: response.message,
                            confirmButtonText: 'Tamam'
                        }).then(function() { 
                            window.location.href = '/Admin/AssignRole';
                        });
                    } else { 
                        Swal.fire({
                            icon: 'error',
                            title: 'Kayıt Başarısız!',
                            text: response.message,
                            confirmButtonText: 'Tamam'
                        }).then(function() { 
                            window.location.href = '/Admin/AssignRole';
                        });
                    }
                },
                error: function () { 
                    Swal.fire({
                        icon: 'error',
                        title: 'Bir Hata Oluştu',
                        text: 'Bir hata oluştu. Lütfen tekrar deneyin.',
                        confirmButtonText: 'Tamam'
                    }).then(function() { 
                        window.location.href = '/Admin/AssignRole';
                    });
                }
            });
        });
    });
</script>